<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">{% trans %}app.title{% endtrans %}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}menu.task{% endtrans %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('create_task') }}">{% trans %}menu.task.add{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('list_task') }}">{% trans %}menu.task.list{% endtrans %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}menu.tag{% endtrans %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('create_tag') }}">{% trans %}menu.tag.add{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('list_tag') }}">{% trans %}menu.task.list{% endtrans %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}menu.category{% endtrans %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('create_category') }}">{% trans %}menu.category.add{% endtrans %}</a>
                            </li>
                            <li>
                                <a href="{{ path('list_category') }}">{% trans %}menu.category.list{% endtrans %}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans %}menu.filter{% endtrans %} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ path('tasks_of_the_day') }}">{% trans %}menu.filter.today{% endtrans %} </a>
                            </li>
                            <li>
                                <a href="{{ path('tasks_of_the_week') }}">{% trans %}menu.filter.week{% endtrans %} </a>
                            </li>
                            <li>
                                <a href="{{ path('tasks_of_the_month') }}">{% trans %}menu.filter.month{% endtrans %} </a>
                            </li>
                        </ul>
                    </li>
                    <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">{% trans %}menu.logout{% endtrans %}</a></li>
                {% else %}
                    <li role="presentation"><a href="{{ path('fos_user_registration_register') }}">Create an account</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
